@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
  background-image: url("../images/skulls.png");
}

#portfolio > .item{
  float: left;
  width: 300px;
  height: 200px;
  border: 1px dashed #cccccc;
  margin: 25px;
  background-color: white;
}

#portfolio > .item > .photo{
  width: 300px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid #cccccc;
}

#portfolio > .item:nth-child(1) > .photo{
  background-image: url("../images/simple-calc.png");
}

#portfolio > .item:nth-child(2) > .photo{
  background-image: url("../images/super-calc.png");
}

#portfolio > .item:nth-child(3) > .photo{
  background-image: url("../images/super-bank.png");
}

#portfolio > .item:nth-child(4) > .photo{
  background-image: url("../images/yahtzee.png");
}

#portfolio > .item > meta{
  font-family: 'Anonymous Pro';
  font-size: 13px;
  padding: 5px;
}

a{
  color: blue;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.clear{
  clear: both;
}
