@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
  background-image: url("../images/skulls.png");
}

div.item{
  float: left;
  width: 300px;
  height: 200px;
  border: 1px dashed #cccccc;
  margin: 25px;
  background-color: white;
}

div.photo{
  width: 300px;
  height: 150px;
  background-image: url("../images/simple-calc.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: 1px solid #cccccc;
}

div.meta{
  font-family: 'Anonymous Pro';
  font-size: 13px;
  padding: 5px;
}

a{
  color: blue;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.clear{
  clear: both;
}
